body{
	background-color: gray;
}
.out{
	background-color: green;
	width: 400px;
	height: 400px;
	position: relative;
	top: 20px;
	left: 20px; 
}
.in{
	background-color: red;
	width: 30px;
	height: 30px;
	position: relative;
    top: 10px;
    left: 10px;/*zurag1*/
    position: fixed;
    top: 20px;
    left: 20px;/*zurag2*/
    position: absolute;
    bottom: 10px;
    right: 10px;/*zurag3*/
    position: absolute;
    bottom: 0;
    left: 0;/*zurag4*/
    position: fixed;
    top: 5px;
    left: 5px;/*zurag5*/
	position: absolute;
	top: 10px;
	right: -40px;/*zurag6*/
	}